html, body {
	margin: 0;
	min-height: 100%;
	height: 100%;
}

body {
	background:  #F5F3F4;
	font-family: "Geneva", Geneva, sans-serif;
}

* {
	font-size: 1.1vw;
}

header {
	background: #660708;
	display: flex;
	align-items: stretch;
	position: sticky;
	top: 0;
	z-index: 1;
}

header h1 {
	color: white;
	flex-grow: 1;
	font-size: 3.5rem;
	margin: 0;
	padding: 1.5rem 3.5rem;
}

nav ul {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}

nav ul li {
	background: #A4161A;
	list-style-type: none;
	margin: 0.5rem 1rem;
	padding: 1rem 2rem;
}

nav ul li a, footer ul li a {
	text-decoration: none;
	color: #D3D3D3;
}

nav ul li a:hover, footer ul li a:hover {
	text-decoration: underline;
	color: #B1A7A6;
}

footer ul li a:hover {
	color: black;
}

.flex-body {
	display: flex;
	height: 100%;
}

.flex-body .calculator {
	flex: 55%;
	padding: 4rem 10rem;
}

.flex-body .theory {
	background: #AFB6C4;
	flex: 45%;
	height: 100%;
	overflow: auto;
	padding: 1rem 2rem;
}

.switch {
	background: none;
	border: none;
	display: flex;
	justify-content: center;
	width: 100%;
}

.switch-text {
	background: #BA181B;
	border-radius: 1rem;
	display: flex;
	padding: 0.5rem 1.5rem;
	z-index: 0;
}

.switch-text span, h2 {
	font-size: 1.5vw;
}

.switch:hover {
	color: #D3D3D3;
}

.container {
	background: #D3D3D3;
	border: 0.1rem solid #A4161A;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: -1rem;
	overflow: auto;
}

.input, .output.checker {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 3rem 5rem;
}

.output.checker {
	padding-top: 0;
}

.menu {
	align-self: flex-end;
	background: #AFB6C4;
	border-radius: 1rem;
	color: #A4161A;
	margin-bottom: -1rem;
	padding: 0.3rem;
}

.input-form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}

.button {
	background: #5B97C7;
	border-color: #A4161A;
	color: white;
	margin: 1rem 0;
	padding: 0.5rem 1rem;
}

.output.generator {
	display: flex;
	justify-content: space-between;
	padding: 3rem 5rem;
	padding-top: 0;
}

.output.generator div {
	display: flex;
	flex-direction: column;
	width: 40%;
}

textarea {
	margin: 0.5rem 0;
	padding: 0.5rem;
	resize: none;
	width: 100%;
}

.output.generator .data textarea {
	resize: both;
}

.output.checker.hide, .output.generator.hide {
	display: none;
}

.focus {
	font-weight: bold;
	text-shadow: 0 0 10px #E5383B;
}

footer {
	background: #B1A7A6;
	position: relative;
	bottom: 0;
	width: 100%;
}

.flex-footer {
	display:flex;
	justify-content: space-around;
	margin: 0;
}

.flex-footer li {
	list-style-type: none;
	padding: 1rem;
}

@media only screen and (max-width: 1200px) {
	.flex-body .calculator {
		padding: 4rem 5rem;
	}
}

@media only screen and (max-width: 1050px) {
	* {
		font-size: 2.2vw;
	}
	.switch-text span, h2 {
		font-size: 3vw;
	}
	.flex-body {
		flex-direction: column;
	}
}

@media only screen and (max-width: 650px) {
	.flex-body .calculator {
		padding: 4rem;
	}
	header h1 {
		padding-right: 0;
		padding-left: 2rem;
	}
}