body {
	background:  #F5F3F4;
	font-family: "Geneva", Geneva, sans-serif;
	margin: 0;
}

.flex-header {
	display: flex;
	align-items: stretch;
	
	background: #660708;
}

header h1 {
	flex-grow: 1;
	
	color: white;
	font-size: 3.5rem;
	margin: 0;
	padding: 1.5rem 3.5rem;
}

nav ul {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}

nav ul li {
	background: #A4161A;
	list-style-type: none;
	margin: 0.5rem 1rem;
	padding: 1rem 2rem;
}

nav ul li a, footer ul li a {
	color: #D3D3D3;
}

nav ul li a:hover, footer ul li a:hover {
	color: #B1A7A6;
}

.flex-body {
	display: flex;
}

.flex-body .calculator {
	flex: 55%;
	padding: 4rem 10rem;
}

.flex-body .theory {
				
	flex: 45%;
	background: #AFB6C4;
	padding: 1rem 2rem;
}

.switch {
	display: flex;
	justify-content: center;
	
	background: none;
	border: none;
	width: 100%;
	font-size: 1.5rem;	
}

.switch .switch-text {
	display: flex;
	
	background: #BA181B;
	border-radius: 1rem;
	padding: 0.5rem 1.5rem;
	z-index: 9;
}

.switch:hover {
	color: #D3D3D3;
}

.output.checker.hide, .output.generator.hide {
	display: none;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	
	background: #D3D3D3;
	border: 0.1rem solid #A4161A;
	border-radius: 1rem;
	margin: -1rem;
	overflow: auto;
}

.input, .output.checker {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.input {
	padding: 3rem 5rem;
}

.output.checker {
	padding: 0rem 5rem 3rem 5rem;
}

.menu {
	align-self: flex-end;
	background: #AFB6C4;
	color: #A4161A;
	border-radius: 1rem;
	padding: 0.3rem;
	margin-bottom: -1rem;
}

.input-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.button {
	background: #5B97C7;
	border-color: #A4161A;
	color: white;
	margin: 1rem 0;
	padding: 0.5rem 1rem;
}

.output.generator {
	display: flex;
	justify-content: space-between;
	padding: 0rem 5rem 3rem 5rem;
}

.output.generator div {
	width: 40%;
	display: flex;
	flex-direction: column;
}

textarea {
	width: 100%;
	padding: 0.5rem;
	margin: 0.5rem 0;
	resize: none;
}

.output.generator .data textarea {
	resize: both;
}

.focus {
	font-weight: bold;
	text-shadow: 0 0 10px #E5383B;
}

footer {	
	background: #B1A7A6;
	bottom: 0;
	position: fixed;
	width: 100%;
}

.flex-footer {
	display:flex;
	justify-content: space-around;
	
	margin: 0;
}

.flex-footer li {
	list-style-type: none;
	padding: 1rem;
}